#ml-main-nav {
  display: none;
}

#ml-main-nav ul {
  list-style-type: none;
  padding-left: 0;
}

#ml-main-nav a {
  text-decoration: none;
  color: black;
}

.search-bar {
  margin: auto;
  position: relative;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.burger-menu {
  text-align: center;
  font-size: 24px;
  width: 40px;
  padding: 8px;
  margin: 0 auto;
  border-radius: 5px;
}

.banner {
  width: 100%;
}

#main-content {
  padding: 0 5%;
}

.product {
  padding: 5px;
  border: 1px solid #ebebeb;
  background-color: white;
}

.product-wraper {
  padding: 5%;
}

.product-content {
  border-top: 1px solid #ebebeb;
  position: relative;
}

.product-content .text-desc {
  display: none;
}

.delivery-icon {
  font-size: 16px;
  padding: 5px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

.footer-icon {
  font-size: 2em;
}

.footer-tittle {
  margin-top: 10px;
  margin-bottom: 5px;
}

.footer-text {
  margin-top: 0px;
}

.form-input label {
  display: block;
}

.form-input input {
  border: none;
}

.form-input button {
  border: none;
}
.main-label {
  font-size: 14px;
}
