/* tablet */
.burger-menu {
  display: none;
}

#ml-main-nav {
  display: initial;
  display: flex;
  justify-content: space-around;
}

#ml-main-nav ul {
  width: 45%;
  display: flex;
  justify-content: space-around;
}

.product-content .text-desc {
  display: initial;
}

.product {
  box-shadow: 0px 0px 5px rgb(100, 100, 100);
}
.product-wraper {
  width: 25%;
}

.w-50 {
  width: 33%;
}

.w-100 {
  width: 33%;
}
